<h1>{{ lang('Email.greeting', [user.first_name]) }}</h1><hr>
<p>{{ lang('Email.activation.msg') }}</p>
<p><a href="{{ site_url('activation?token=' ~ user.token) }}">{{ lang('Email.activation.btn') }}</a></p>
<p><small>{{ lang('Email.footer', [site_url(), config.appName]) }}</small></p>